
@page "/DetailSamplePage"

@inherits BaseDetailPageCode<Table1SecureService, ITable1SecureService, Table1Secure>


@using Middt.Framework.Blazor.Web.Base
@using Middt.Framework.Blazor.Web.Base.Page;
@using Middt.Template.Common.Service
@using Middt.Template.Api.Model.Database;

 


<BaseDetailPage
TService="Table1SecureService"
TInterface="ITable1SecureService"
TModel="Table1Secure"
QueryStringID="ID"
GetMethod="GetFirmaByFirmaID"

@ref="baseDetailPage">
    <DetailContent>
            <table class="table">
        <thead>
            <tr>
                <th>Ad</th>
                <th>BoolDeger</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Ad</td>
                <td>@Model.BoolDeger</td>
                <td>@Model.Tarih?.ToShortDateString()</td>
            </tr>
        </tbody>
    </table>
    </DetailContent>
</BaseDetailPage>