@page "/ListRadzenSamplePage"
@inherits BaseListPageCode<Table1SecureService, ITable1SecureService, Table1Secure>


@using Middt.Framework.Blazor.Web.Base.Page;
@using Middt.Sample.Common.Service
@using Middt.Sample.Api.Model.Database;


<BaseRadzenListPage TService="Table1SecureService"
              TInterface="ITable1SecureService"
              TModel="Table1Secure"
              SearchMethod="GetRandevuByFirmaID"
              HideSearchButton="false"
              IsFirstLoad="false"
              @ref="baseListPage">
    <SearchContent>

        <RadzenButton Click="@(args => Search())" Style="float:left">Listele</RadzenButton>
        @if (@ExcelDisable == false)
        {
            <RadzenButton Click="@(args => Search())" Style="float:left">excel Fake</RadzenButton>
        }

    </SearchContent>

    <ListContent>
        <RadzenGridColumn TItem="Table1Secure" Property="Ad" Title="Ad" />
        <RadzenGridColumn TItem="Table1Secure" Property="BoolDeger" Title="Bool Deger" />
        <RadzenGridColumn TItem="Table1Secure" Property="Tarih" Title="Başlangıç Tarihi">
            <Template Context="item">
                <a href="/DetailSamplePage?ID=@item.Table1Id">Detay</a>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Table1Secure" Property="Tarih" Title="Başlangıç Tarihi">
            <Template Context="item">
                <a href="/DetailCrudSamplePage?ID=@item.Table1Id">Edit</a>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Table1Secure" Property="Tarih" Title="Başlangıç Tarihi">
            <Template Context="item">
                @item.Tarih?.ToString("dd/MM/yyyy")
            </Template>
        </RadzenGridColumn>
    </ListContent>
</BaseRadzenListPage>
