@inherits BaseListPageComponentClass<TService, TInterface, TModel>

@using Suges.Framework.Blazor.Web.Base.Page;
@using Suges.Framework.Blazor.Web.Base
@using Suges.Framework.Model.Model.Enumerations

@using Suges.Framework.Blazor.Web.Base.Component.Pagination;
@using Suges.Framework.Blazor.Web.Base.Component.Alert;
@using Suges.Framework.Blazor.Web.Base.Component.Modal;
@using Radzen.Blazor;

@typeparam TService
@typeparam TInterface
@typeparam TModel

@if (SearchContent != null )
{
    <EditForm Model="@SearchRequestModel">
        <div class="row" style="margin-top:10px;">
            @SearchContent
        </div>
          @if (!HideSearchButton)
        {
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-5">
                <RadzenButton Icon="search" Text="Ara" Click="() => AraButton()" />
                <RadzenButton Icon="search_off" Text="İptal" Style="font-size:11pt;background-color:dimgray;" Click="() => Cancel()" />
            </div>
        </div>
    }
        </EditForm>
        }
        <br />

        @ListContent

        <BasePaginationComponent @ref="Pagination">
        </BasePaginationComponent>

        <BaseLoadingModal @ref="LoadingModal">
        </BaseLoadingModal>
