@inherits BaseComponent

@using Suges.Framework.Blazor.Web.Base
@using Suges.Framework.Model.Model.Enumerations


@if (Result != null)
{

    @if (Result.Result == ResultEnum.Success)
    {
<div class="col-10 alert alert-info">
    <span>İşlem başarı ile gerçekleştirildi.</span>
</div>
}
    else
    {
<div class="col-10 alert alert-danger">
    <span>İşlem gerçekleştirilemedi, bir hata oluştu.</span>
</div>
}
}