@inherits BaseComponent

@using Suges.Framework.Blazor.Web.Base
@using Suges.Framework.Blazor.Web.Model
@using Suges.Framework.Model.Model.Enumerations;
@using Radzen.Blazor;

<div class="input-group">
    <div class="custom-file">
        <BlazorInputFile.InputFile id="uploadFolder" multiple class="custom-file-input" OnChange="HandleSelection" accept="@acceptedFileTypes" />
        <label class="custom-file-label" for="inputGroupFile01">Dosya Seç</label>
    </div>
</div>


@if (
   ActiveFileUploadModelList != null
  && ActiveFileUploadModelList.Count > 0)
{
<RadzenGrid Data="ActiveFileUploadModelList">
    <Columns>
        <RadzenGridColumn TItem="FileUploadModel" Title="DOSYA ADI" Width="80%">
            <Template Context="fileUploadModel">
                @if(!string.IsNullOrEmpty(fileUploadModel.FilePath))
                {
                    <a href="@fileUploadModel.FilePath" target="_blank" download>@fileUploadModel.Name</a>
                }
                else
                {
                 @fileUploadModel.Name
                }
               
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="FileUploadModel">
            <Template Context="fileUploadModel">
                <RadzenButton Click="() => Delete(fileUploadModel)" Icon="delete" />
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
}